* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow: hidden; /* Hide scrollbars */
	overflow-y: scroll; /* Add the ability to scroll */
	line-height: 1.5;
	color: white;
	background-color: black;
	max-width: 1920px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
    display: none;
}

.hero {
    overflow: hidden;
    background-color: lightgrey;
    background-image: url(images/contact.jpg);
    background-size: cover;
    height: 767px;
    width: auto;
    margin-bottom: 100px;
}

header {
	display: flex;
	padding: 20px;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
    margin-left: 20px;
}

.headerlogo {
	flex: 1;
	width: 120px;
	cursor: pointer;
	margin: auto;
}

.headernav {
	flex: 1;
	text-align: right;
	padding: 0px 10px;
	margin: 5px 0px;
}
nav {
    padding: 8px 0px;
	color: white;
	background-color: rgba(242,242,242,0.49);
	float: right;
}


nav, ul li {
    list-style: inline-block;
    display: inline-block;
    margin: 0px 20px;
    font-size: 22px;
}

/* a link that has been visited */
a:link {
	text-decoration: none;
	color: #022601;
}

/* A link that has not been visited */
a:visited {
	text-decoration: none;
	color: #022601;
}


.logo {
	width: 120px;
	cursor: pointer;
	margin: auto;
}



.quote {
	float: left;
	overflow: hidden;
	background-color: transparent;
	color: white;
	font-family: 'Passion One', cursive;
	font-weight: 900;
	font-size: 64px;
	margin: 342px 0 55px 981px;
	padding: 20px 20px;
	line-height: 58px;
}


.quote h1 {
	font-size: 90px;
	font-family: 'Passion One', cursive;
}


.quote p {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: -14px;
	line-height: 1.0;
	margin: 24px 0px 7px 0;
}


button {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 600;
}

.button1 {
	background-color: transparent;
  	border: 3px solid white;
  	color: white;
  	padding: 5px 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 24px;
  	margin: 4px 2px;
  	cursor: pointer;
  	transition: 0.3s;
}

.button1:hover {
	background-color: white;
	color: #022601;
	border: 3px solid white;
}

button {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 600;
}

.button2 {
	background-color: transparent;
  	border: 3px solid white;
  	color: white;
  	padding: 5px 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 24px;
  	margin: 4px 2px;
  	cursor: pointer;
  	transition: 0.3s;
}

.button2:hover {
	background-color: white;
	color: #022601;
	border: 3px solid white;
}


.contactinfo {
	margin: 100px 100px;
}

.contactinfo h1 {
	font-size: 54px;
	font-family: 'Passion One', cursive;
	font-weight: 700;
}

.contactbox {
	display: flex;
}


.contacttext {
	flex: 1;
    margin: 20px 0 0px 0;
    padding: 0px 0px 0px 0px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 28px;
}


.typetext {
	position: relative;
}

form {
	width: 100%;
	max-width: 1268px;
    margin: 20px 5px 0 0;
}

textarea {
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 3px solid white;
	color: white;
	background-color: rgba(242,242,242,0);
   	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	font-size: 20px;
}


.extra-banner {
	display: flex;
    overflow: hidden;
    background-color: #8EBF24;
    color: #022601;
    background-size: cover;
   	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	padding: 87px 130px;
}

.bannerlogo {
	flex: 1;
	width: 120px;
	cursor: pointer;
	margin-left: 40px;
	margin-right: -100px;
}

.bannertext {
	display: flex;
	flex: 1;
	cursor: pointer;
	margin-left: -620px;
}

.bannertext p {
	text-align: justify;
	overflow-y: hidden;
	white-space: nowrap;
}

.collumn1 {
	margin: 0 100px;
}

.collumn2 {
	margin: 0 100px;
}

.collumn3 {
	margin: 0 100px;
}

.collumn4 {
	margin: 0 100px;
}


.Copyright-banner {
    overflow: hidden;
    background-color: #022601;
    color: #8EBF24;
    background-size: cover;
   	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
}

.copyright {
	text-align: center;
	font-size: 12px;
	margin: 5px 5px;
    padding: 10px 10px;
}
